HELP.md
target/
.mvn/*
!**/src/main/**
!**/src/test/**
*.orig
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.metadata
.springBeans
.sts4-cache
.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
.DS_Store
